*{
    box-sizing: border-box;
}

@font-face {
    font-family: DancingScript-Basic;
    src: url("../ASSETS/Fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: DancingScript-Bold;
    src: url("../ASSETS/Fonts/DancingScript-Bold.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,231,255);
    margin: 0;
}

header{
    background-color: rgba(255,255,231,255);
    
}

.contVaTab{
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
}

.contTab{
    display: flex; 
    justify-content: space-around;
    flex-direction: row; 
}

caption{
    font-family: DancingScript-Basic;
    font-size: 2em;
    padding-top: 20%;
}

.logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgba(92,69,77,255);
    font-size: 2.5em;
    font-family: DancingScript-Basic;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


nav a {
	 position: relative;
	 display: block;
	 text-transform: uppercase;
	 margin: 20px 0;
	 padding: 10px 20px;
	 text-decoration: none;
	 color: black;
	 font-family: DancingScript-Bold;
	 font-size: 180%;
	 transition: 0.5s;
	 z-index: 1;
}
nav a:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border-top: 2px solid rgba(93,70,80,255);
	 border-bottom: 2px solid rgba(93,70,80,255);
	 transform: scaleY(2);
	 opacity: 0;
	 transition: 0.3s;
}
nav a:after {
	 content: '';
	 position: absolute;
	 top: 2px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(93,70,80,255);
	 transform: scale(0);
	 opacity: 0;
	 transition: 0.3s;
	 z-index: -1;
}
nav a:hover {
	 color: white;
}
nav a:hover:before {
	 transform: scaleY(1);
	 opacity: 1;
}
nav a:hover:after {
	 transform: scaleY(1);
	 opacity: 1;
}

.imgTrans1{
    width: 300px;
    height: 300px;
    background-image:  url("../ASSETS/Img/fondue\ champiñon.jpg");
    background-size: cover;
    transition: border-radius 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 100%;
    display: flex; 
    align-items: center;
}

.imgTrans1:hover{
    width: 400px;
    height: 400px;
    border-radius: 25%;
}

.imgTrans2{
    width: 300px;
    height: 300px;
    background-image:  url("../ASSETS/Img/ensalada\ mixta.jpg");
    background-size: cover;
    transition: border-radius 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 100%;
    display: flex; 
    align-items: center;
}

.imgTrans2:hover{
    width: 400px;
    height: 400px;
    border-radius: 25%;
}


.imgTrans3{
    width: 300px;
    height: 300px;
    background-image:  url("../ASSETS/Img/burritos.jpg");
    background-size: cover;
    transition: border-radius 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 100%;
    display: flex; 
    align-items: center;
}

.imgTrans3:hover{
    width: 400px;
    height: 400px;
    border-radius: 25%;
}

.bebiTrans1{
    width: 300px;
    height: 300px;
    background-image:  url("../ASSETS/Img/cafeamericano.jpg");
    background-size: cover;
    transition: border-radius 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 100%;
    display: flex; 
    align-items: center;
}

.bebiTrans1:hover{
    width: 400px;
    height: 400px;
    border-radius: 25%;
}

.bebiTrans2{
    width: 300px;
    height: 300px;
    background-image:  url("../ASSETS/Img/cafesuizo.jpg");
    background-size: cover;
    transition: border-radius 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 100%;
    display: flex; 
    align-items: center;
}

.bebiTrans2:hover{
    width: 400px;
    height: 400px;
    border-radius: 25%;
}

.bebiTrans3{
    width: 300px;
    height: 300px;
    background-image:  url("../ASSETS/Img/capuchino_16242_600.jpg");
    background-size: cover;
    transition: border-radius 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 100%;
    display: flex; 
    align-items: center;
}

.bebiTrans3:hover{
    width: 400px;
    height: 400px;
    border-radius: 25%;
}

.bebiTrans4{
    width: 300px;
    height: 300px;
    background-image:  url("../ASSETS/Img/submarino.jpg");
    background-size: cover;
    transition: border-radius 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out;
    border-radius: 100%;
    display: flex; 
    align-items: center;
}

.bebiTrans4:hover{
    width: 400px;
    height: 400px;
    border-radius: 25%;
}


button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 96%;
    height: 20vh;
    margin: auto;
}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* Espacio para las tablas */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding-top: 3em;
  font-family: DancingScript-Basic;
  font-size: 1.6em;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../ASSETS/Img/crepaa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../ASSETS/Img/desayuno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/front-end.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/python.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    h1{
      font-family: DancingScript-Basic;  
      font-size: 4em;
      padding-top: 10%;
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/front-end-cropped.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/full-stack-cropped.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/python-cropped.jpg");

    }

    #caracteristicas{
        background-image: url("../media/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}


/* Sección del Slider */

#slider > ul.slider li img {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }

  .slider{
      width: 100%;
      height: 150%;
      overflow: hidden; 
      margin-bottom: 30%;
    }
    .slider ul{
        display: flex;
        animation: cambio 20s infinite alternate linear;
        width: 400%;
    }
    .slider li{
        width: 100%;
        list-style: none;
    }
    .slider img{
        width: 100%;
        height: 100%;
    }
    @keyframes cambio{
        0%{margin-left: 0;}
        20%{margin-left: 0;}
        
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
        
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
        
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }
    @media only screen and (min-width:320px) and (max-width:768px){
    .slider, .slider ul, .slider img{
        height: 100vh;
    }
    }

/* Sección del footer */

#iconos{
    padding: 30px;
}

i{
    font-size: 400%;
}

.fa-facebook-square:hover {
    color: #0f3891;
}

.fa-google-plus-g:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #bd0dac;
}

.pie-pagina{
    width: 100%;
    background-color: rgba(255,255,231,255);
}

.pie-pagina .grupo-1{
    display: flex; 
    justify-content: space-around;
    flex-direction: row; 
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}